
body{
  margin: 0px;

}
*{
  box-sizing: border-box;
}




.interface{
  display: flex;
  width: 100vw;
  height: 100vh;
  &-panel{
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    border-right: 1px solid #c5c5c5;
    box-shadow: 5px 0px 10px rgba(black,.1);
  }
  &-body{
    flex: 1 1 0;
  
    // .konvajs-content,
    // .konvajs-content canvas{
    //   width: 100%!important;
    //   height: 100%!important;
    // }
  }
}